USE [SMIT09]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2019/6/13 下午 03:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](30) NULL,
	[UnitPrice] [int] NULL,
	[ProductPhotoS] [nvarchar](100) NULL,
	[ProductPhotoL] [nvarchar](100) NULL,
	[Rating] [int] NULL,
	[ClickRate] [int] NULL,
	[Discontinued] [varchar](1) NULL,
	[ProductIntroduction] [nvarchar](500) NULL,
	[ProductDescription] [nvarchar](500) NULL,
 CONSTRAINT [PK__Products__B40CC6ED3C98D94B] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


INSERT [dbo].[Products] ([ProductName], [UnitPrice], [ProductPhotoS], [ProductPhotoL], [Rating], [ClickRate], [Discontinued], [ProductIntroduction], [ProductDescription]) VALUES (N'凱薩沙拉', 60, N'/img/Appectizer/165x163/Appectizer_02.jpg', N'/img/Appectizer/800X600/Appectizer_02.jpg', NULL, NULL, NULL, N'炎熱時就該吃生菜輕飲食清爽一夏！', N'凱薩生菜棒的內容物有紅蘿蔔、豆薯、小黃瓜，一口咬下時有著清爽鮮甜的滋味，
一旁還有主廚調製的蜂蜜芥末醬可沾取，口感別於一般的生菜沙拉，吃起來創意又特別。')
INSERT [dbo].[Products] ([ProductName], [UnitPrice], [ProductPhotoS], [ProductPhotoL], [Rating], [ClickRate], [Discontinued], [ProductIntroduction], [ProductDescription]) VALUES (N'黃金薯條', 35, N'/img/Appectizer/165x163/Appectizer_06.jpg', N'/img/Appectizer/800X600/Appectizer_06.jpg', NULL, NULL, NULL, N'金黃酥脆的薯條口感讓人大呼過癮。', N'薯條炸得金黃酥脆，咬一口外酥內軟的口感讓人大呼過癮。')
INSERT [dbo].[Products] ([ProductName], [UnitPrice], [ProductPhotoS], [ProductPhotoL], [Rating], [ClickRate], [Discontinued], [ProductIntroduction], [ProductDescription]) VALUES (N'焗烤肉醬薯條', 100, N'/img/Appectizer/165x163/Appectizer_10.jpg', N'/img/Appectizer/800X600/Appectizer_10.jpg', NULL, NULL, NULL, N'將起司薯條夾起，濃郁的起司讓我欲罷不能。', N'焗烤肉醬薯條淋上肉醬汁，再鋪上一層濃厚的焗烤起司，上桌時起司香撲鼻而來，令人垂涎三尺。
薯條一口咬下，炸的金黃酥脆，融合著肉醬和起司的香氣，吃完不覺得膩口，就連小朋友也愛不釋手。')
