
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-login100">
    <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url(../img/login_signup/login_signup.jpg);">

            <span class="login100-form-title-1">
                會員登入
            </span>
        </div>

        <form class="login100-form validate-form" method="post">
            <div class="wrap-input100 validate-input m-b-26" data-validate="請輸入帳號">
                <span class="label-input100">會員帳號</span>
                <input class="input100" type="text" name="UserID" placeholder="請輸入帳號">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-50" data-validate="請輸入密碼">
                <span class="label-input100">會員密碼</span>
                <input class="input100" type="password" name="UserPwd" placeholder="請輸入密碼">
                <span class="focus-input100"></span>
            </div>
            <div class="container-login100-form-btn">
                <button class="btn btn-success login100-form-btn">
                    登入
                </button>
                <a href="/Member/SignUp" class="btn btn-info login100-form-btn m-l-20">註冊</a>
            </div>
        </form>
    </div>
</div>

@*?? 運算子稱為 null 聯合運算子。 如果運算元不是 null，則會傳回左方運算元，否則傳回右方運算元。*@
@{
    var errMsg = TempData["errorMessage"] ?? string.Empty;
    var sucMsg = TempData["successMessage"] ?? string.Empty;
}
@* 登入失敗的alert *@
<script type="text/javascript">
    var errMsg = '@errMsg';
    if (errMsg) { alert(errMsg); }
</script>
@* 註冊成功的alert *@
<script type="text/javascript">
    var sucMsg = '@sucMsg'
    if (sucMsg) { alert(sucMsg);}
</script>
