
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--login,signup的css-->
<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/css/login_signup/util.css">
<link rel="stylesheet" type="text/css" href="~/css/login_signup/main.css">
<!--login,signup的資料驗證js-->
<script src="~/js/main.js"></script>
<div class="container-login100">
    <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url(../img/login_signup/login_signup.jpg);">
            <span class="login100-form-title-1">
                會員註冊
            </span>
        </div>

        <form class="login100-form validate-form" method="post">
            <!--名字-->
            <div class="wrap-input100 validate-input m-b-26" data-validate="必填">
                <span class="label-input100">名稱</span>
                <input class="input100" type="text" name="MemberName" placeholder="請輸入名稱">
                <span class="focus-input100"></span>
            </div>
            <!--帳號-->
            <div class="wrap-input100 validate-input m-b-26" data-validate="必填">
                <span class="label-input100">帳號</span>
                <input class="input100" type="text" name="UserID" placeholder="請輸入帳號">
                <span class="focus-input100"></span>
            </div>
            <!--密碼-->
            <div class="wrap-input100 validate-input m-b-26" data-validate="必填">
                <span class="label-input100">密碼</span>
                <!--密碼至少一個小寫英文，一個數字，最少6碼，最多10碼-->
                <input class="input100" type="password" name="UserPwd" placeholder="請輸入密碼" pattern="^(?=.*[a-z])(?=.*\d)[A-Za-z\d]{6,10}">
                <span class="focus-input100"></span>
            </div>
            <!--性別-->
            <div class="wrap-input100 m-b-15" style="font-size:0.9rem;border-bottom:hidden;">
                <span class="label-input100" style="top:0">性別</span>
                <input type="radio" name="gender" value="m" required>男性&emsp;
                <input type="radio" name="gender" value="f">女性
            </div>
            <!--年齡-->
            <div class="wrap-input100 validate-input m-b-26" data-validate="必填">
                <span class="label-input100">年齡</span>
                <input class="input100" type="number" name="Age" placeholder="請輸入年齡 例如:38">
                <span class="focus-input100"></span>
            </div>
            <!--email 格式XXX@XXX.XXX-->
            @{
                string str = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$";
            }
            <div class="wrap-input100 m-b-26">
                <span class="label-input100">Email</span>
                <input class="input100" type="text" name="Email" placeholder="請輸入Email" pattern="@str">
                <span class="focus-input100"></span>
            </div>
            <!--電話 十碼-->
            <div class="wrap-input100 m-b-26">
                <span class="label-input100">手機號碼</span>
                <input class="input100" type="number" name="Phone" placeholder="請輸入手機號碼 例如:0912345678" pattern="\d{10}">
                <span class="focus-input100"></span>
            </div>
            <!--居住地-->
            <div class="wrap-input100 m-b-50" style="border-bottom:hidden;font-size:1rem;">
                <span class="label-input100" style="top:0">居住地</span>
                <select name="MemberAddress" id="addressSelect">
                    <option value="臺北市">臺北市</option>
                    <option value="新北市">新北市</option>
                    <option value="桃園市">桃園市</option>
                    <option value="臺中市">臺中市</option>
                    <option value="臺南市">臺南市</option>
                    <option value="高雄市">高雄市</option>
                    <option value="基隆市">基隆市</option>
                    <option value="新竹市">新竹市</option>
                    <option value="嘉義市">嘉義市</option>
                    <option value="新竹縣">新竹縣</option>
                    <option value="苗栗縣">苗栗縣</option>
                    <option value="彰化縣">彰化縣</option>
                    <option value="南投縣">南投縣</option>
                    <option value="雲林縣">雲林縣</option>
                    <option value="嘉義縣">嘉義縣</option>
                    <option value="屏東縣">屏東縣</option>
                    <option value="宜蘭縣">宜蘭縣</option>
                    <option value="花蓮縣">花蓮縣</option>
                    <option value="臺東縣">臺東縣</option>
                    <option value="澎湖縣">澎湖縣</option>
                </select>
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn m-b-50">
                <button class="btn btn-success login100-form-btn ">
                    確認送出
                </button>
                <span>
                    <a href="/Member/LogIn" class="btn btn-primary login100-form-btn m-l-20">已有帳號？登入</a>
                </span>
            </div>
        </form>
    </div>
</div>

@* 註冊錯誤的alert *@
@{
    var errMsg = TempData["errorMessage"] ?? string.Empty;
}
<script type="text/javascript">
  var errMsg = '@errMsg';
  if (errMsg) { alert(errMsg); }
</script>
