
@{
    ViewBag.Title = "Menu";
}
<!--start content 菜單-->
<section>
    <div class="menu container-fluid">
        <div class="row">
            <div class="menuItem">
                <a href="product.html">
                    <img src="~/img/1.jpg" alt="">
                    <div class="fontdiv">
                        <p class="pTitle">套餐&nbsp;<span>Set Menu</span></p>
                        <div class="pList">
                            <p>主廚推薦 Chef's Special</p>
                            <p>雙人共享餐</p>
                            <p>四人同樂餐</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="menuItem">
                <a href="product.html">
                    <img src="~/img/1.jpg" alt="">
                    <div class="fontdiv">
                        <p class="pTitle">前菜&nbsp;<span>Appetizer</span></p>
                        <div class="pList">
                            <p>沙拉 Salad</p>
                            <p>前菜 Appetizer</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="menuItem">
                <a href="product.html">
                    <img src="~/img/1.jpg" alt="">
                    <div class="fontdiv">
                        <p class="pTitle">湯品&nbsp;<span>Soup</span></p>
                        <div class="pList">
                            <p>濃湯 Puree</p>
                            <p>清湯 Clear Soup</p>
                            <p>巧達湯 Chowder</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="menuItem">
                <a href="product.html">
                    <img src="~/img/1.jpg" alt="">
                    <div class="fontdiv">
                        <p class="pTitle">主菜&nbsp;<span>Main course</span></p>
                        <div class="pList">
                            <p>牛排 Steaks</p>
                            <p>肉類 Meat</p>
                            <p>海鮮 Seafood</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="menuItem">
                <a href="product.html">
                    <img src="~/img/1.jpg" alt="">
                    <div class="fontdiv">
                        <p class="pTitle">甜點&nbsp;<span>Dessert</span></p>
                        <div class="pList">
                            <p>乳酪 Cheese</p>
                            <p>蛋糕 Cake</p>
                            <p>冰淇淋 Ice cream</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="menuItem">
                <a href="product.html">
                    <img src="~/img/1.jpg" alt="">
                    <div class="fontdiv">
                        <p class="pTitle">飲料&nbsp;<span>Beverage</span></p>
                        <div class="pList">
                            <p>咖啡 Coffee</p>
                            <p>茶 Tea</p>
                            <p>汽泡飲料 Soft Drinks</p>
                        </div>

                    </div>
                </a>
            </div>

        </div>



    </div>
</section>

